MANAGE_API_COMPANY=
MANAGE_API_URL=
MANAGE_API_PUBLIC_KEY=
MANAGE_API_PRIVATE_KEY=
MANAGE_API_CLIENT_ID=

AUTOMATE_API_URL=
AUTOMATE_API_USER=
AUTOMATE_API_PASSWORD=
AUTOMATE_API_CLIENT_ID=

COVERALLS_REPO_TOKEN=904jLs7eH4YATolshpGoORwiLCBQAFRxO
