{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {},
  "ignorePatterns": [
    "dist",
    "src/AutomateTypes.js",
    "src/ManageTypes.js"
  ]
}
